rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /{col}/{id} {
      allow read, write: if signedIn() && col in [
        'users','departments','courses','sections','students','staff','timetable',
        'attendance','exams','marks','feePlans','fees','notices','messages','routes',
        'books','checkouts','auditLogs'
      ];
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
